<div class="qr-input-section card">
    <div class="title">
        <h2>Enter input text</h2>
    </div>

    <div class="user-input-section">
        <p class="input-description">Website URL</p>
        <div class="input-section">
            <span class="left-icon">
                <mat-icon>language</mat-icon>
            </span>
            <input type="text" (input)="onInputChange($any($event.target).value)"/>
        </div>
        <p class="validation-message">Enter a valid URL</p>
    </div>

    <app-ai-qr-input (qrGenerated)="onInputChange($event)"></app-ai-qr-input>
</div>