.qr-input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #e2e9f0;
    border-radius: 12px;
    padding: 20px;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, .05),
        0 4px 12px rgba(0, 0, 0, .04)
}

.qr-input-section:hover {
    box-shadow:
        0 4px 6px rgba(0, 0, 0, .06),
        0 12px 24px rgba(0, 0, 0, .08);
}

.user-input-section {
    display: flex;
    flex-direction: column;
}

.user-input-section p {
    margin: 0;
}

.input-section {
    position: relative;
    width: 100%;
}

span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    min-width: 40px;
}

.left-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    line-height: 1;
    display: flex;
    align-items: center;
    color: #64748b;
}

mat-icon {
    display: block;
}


input {
    border-radius: 8px;
    border: solid 1px #cbd5e1;
    width: 100%;
    padding: 10px 12px 10px 40px;
}

input:hover { 
    border-color: #94a3b8;
}

input:focus {
    border: solid 1px #2563eb;;
    box-shadow: 
    0 0 0 4px rgba(37, 99, 235, .12);
    outline: none;
}

.input-description {
    font-size: 0.9rem;
    font-weight: 500;
    color: #64748b;
}

.validation-message {
    font-size: 0.85rem;
    color: #dc2626;
    margin-top: 2px;
}
    
@media(min-width: 768px) {
    :host {
        width: 50%;
    }

    .qr-input-section {
        gap: 20px;
    }

    input {
        height: 50px;
    }
}