<div class="qr-input-section">
    <div class="title">
        2. Enter URL
    </div>

    <div class="user-input-section">
        <p class="input-description">Website URL</p>
        <div class="input-section">
            <span class="left-icon">
                <mat-icon>language</mat-icon>
            </span>
            <input type="text" (input)="onInputChange($any($event.target).value)"/>
            <span class="right-icon">
                <mat-icon>language</mat-icon>
            </span>
        </div>
        <p class="input-description">Enter a valid URL</p>
    </div>
</div>