.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: black solid 1px;
    border-radius: 8px;
    padding: 20px;
}

h4 {
    margin: 0;
}

.qr-code-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 160px;
    width: 100%;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    border-radius: 8px;
    overflow: hidden;
}

.png-code {
    display: none;
}

.qr-download-sharing {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.download {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sharing {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.share-options {
    position: relative;
}

.sharing .share-options button, 
.add-to-history button  {
    width: 100%;
}

app-share-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.container button {
    height: 30px;
    border-radius: 8px;
    font-weight: 600;
    border: rgba(0, 0, 0, 0.2) 1px solid;
}


@media(min-width: 768px) {
    :host {
        width: 50%;
    }

    .container {
        gap: 30px;
    }

    h4 {
        font-size: 20px;
    }

    .qr-code-section {
        height: 300px;
        width: 300px;
    }

    .qr-download-sharing {
        gap: 10px;
    }

    .qr-download-sharing button {
        height: 50px;
        border-radius: 8px;
    }

    .download,
    .sharing {
        flex-direction: row;
        gap: 10px;
    }

    .container button {
        height: 50px;
        flex: 1;
        font-size: 14px;
    }

    .sharing .share-options {
        flex: 1;
    }
}