<div class="container">
    <h4>QR Code Preview</h4>
    <div class="qr-code-section">
        <qrcode [qrdata]="qrData()" [width]="qrCodeWidth" [allowEmptyString]="true" elementType="svg"
            (qrCodeURL)="onSvgUrlChange($event)">
        </qrcode>
        <div class="png-code">
            <qrcode [qrdata]="qrData()" [width]="qrCodeWidth" [allowEmptyString]="true" elementType="canvas"
                (qrCodeURL)="onPngUrlChange($event)">
            </qrcode>
        </div>
    </div>
    <div class="qr-download-sharing">
        <div class="download">
            <button (click)="downloadImage(pngDownloadUrl, 'qrcode.png')">Download (PNG)</button>
            <button (click)="downloadImage(svgDownloadUrl, 'qrcode.svg')">Download (SVG)</button>
        </div>

        <div class="sharing">
            <button (click)="copyLink()">Copy URL</button>
            <div class="share-options">
                <button (click)="openShareOptions()">Share</button>

                <app-share-menu [class.open]="openShareMenu"></app-share-menu>
            </div>
        </div>
    </div>
</div>