<div class="container card">
    <h2>QR Code Preview</h2>
    <div class="qr-code-section" [class.run-reveal]="isAnimating">
        <qrcode [qrdata]="qrData()" [width]="qrCodeWidth" [allowEmptyString]="true" elementType="svg"
            (qrCodeURL)="onSvgUrlChange($event)">
        </qrcode>
        <div class="png-code">
            <qrcode [qrdata]="qrData()" [width]="qrCodeWidth" [allowEmptyString]="true" elementType="canvas"
                (qrCodeURL)="onPngUrlChange($event)" (qrCodeChange)="triggerAnimation()">
            </qrcode>
        </div>
    </div>
    <div class="qr-download-sharing">
        <div class="download">
            <button class="primary-button" (click)="downloadImage(pngDownloadUrl, 'qrcode.png')">Download (PNG)</button>
            <button class="secondary-button" (click)="downloadImage(svgDownloadUrl, 'qrcode.svg')">Download (SVG)</button>
        </div>

        <div class="sharing">
            <button class="secondary-button" (click)="copyLink()">Copy URL</button>
            <div class="share-options" appClickOutside (clickOutside)="closeShareOptions()">
                <button class="secondary-button" (click)="openShareOptions()">Share</button>

                <app-share-menu [qrlinkToShare]="qrData()" [class.open]="openShareMenu" (closeMenu)="closeShareOptions()"></app-share-menu>
            </div>
        </div>
    </div>

    <div class="add-to-history">
        <button class="secondary-button" (click)="addHistoryEntry()">Add to history</button>
    </div>
</div>