<div class="container">
    <div class="header">
        <h4 class="heading">Recent QR Codes</h4>
        <div class="header-action-buttons">
            <button>View All</button>
            <button (click)="historyService.clearAllHistoryEntries()">Clear All</button>
        </div>
    </div>

    <div class="history-list">
        @for(historyEntry of historyList().slice(-recentHistoryEntryLimit).reverse(); track historyEntry) {
        <app-history-entry [history]="historyEntry"></app-history-entry>
        }
    </div>

</div>