<div class="container card">
    <div class="header">
        <h2>Recent QR Codes</h2>
        <h3>Your last generated qr codes</h3>
    </div>

    <div class="history-list">
        @for(historyEntry of historyList().slice(-recentHistoryEntryLimit).reverse(); track historyEntry.url) {
        <app-history-entry [history]="historyEntry" (regenerateQR)="sendUrlForRegeneration($event)"></app-history-entry>
        }
        @empty {
        <div class="empty-state">
            There are no recently generated qr codes
        </div>
        }
    </div>

    <div class="action-buttons">
        <button class="ghost-button" (click)="goToViewAllPage()">View All</button>
        <button class="danger-ghost-button" (click)="clearAllHistory()">Clear All</button>
    </div>

</div>