<div class="container">
    <div class="header">
        <h2>Recent QR Codes</h2>
        <div class="header-action-buttons">
            <button (click)="goToViewAllPage()">View All</button>
            <button (click)="clearAllHistory()">Clear All</button>
        </div>
    </div>

    <div class="history-list">
        @for(historyEntry of historyList().slice(-recentHistoryEntryLimit).reverse(); track historyEntry.url) {
        <app-history-entry [history]="historyEntry" (regenerateQR)="sendUrlForRegeneration($event)"></app-history-entry>
        }
        @empty {
            <div class="empty-state">
                There are no recently generated qr codes
            </div>
        }
    </div>

</div>