/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Geist',sans-serif
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.04em;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

button {
    height: 48px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    transition: all .2s ease;
}