/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.04em;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}